$color-primary: #252525;
$color-background: rgb(241, 240, 238);
$color-nav: rgba(194, 194, 191, 0.7);

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.duties {
  &__nav {
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-link {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;

    &-item {
      list-style: none;
    }

    &-link {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      color: #252525;

      a {
        font-size: 1.6rem;
      }
    }
  }
}
