<main class="main">
    <section class="main__section">
        <div class="main__section-content">
            <h2 class="main__subtitle" id="section1-title">It is a time for builders.</h2>
            <menu class="main__list" aria-labelledby="section1-title">
                <li><img src="/images/check.svg" alt="Check mark icon">You're assembling impactful teams.</li>
                <li><img src="/images/check.svg" alt="Check mark icon">You're innovating at scale.</li>
                <li><img src="/images/check.svg" alt="Check mark icon">You're accelerating the mission.</li>
                <li><img src="/images/check.svg" alt="Check mark icon">You're delivering the transformation.</li>
            </menu>
            <p class="main__paragraph">This isn't the first mountain you've climbed,
                and it won't be the last.</p>
            <p class="main__paragraph">Each success leads to your next project of consequence,
                ever increasing in scope and significance.</p>
        </div>
        <div class="main__image">
            <img src="./images/section1.svg" alt="Illustration of a mountain climb symbolizing progress and challenges.">
        </div>
    </section>

    <section class="main__section">
        <div class="main__image">
            <img src="./images/section2.svg" alt="Illustration of teamwork and collaboration.">
        </div>
        <div class="main__section-content">
            <h2 class="main__subtitle" id="section2-title">You've slayed dragons before, but always with the right people.</h2>
            <span>With...</span>
            <menu class="main__list" aria-labelledby="section2-title">
                <li><img src="/images/check.svg" alt="Check mark icon">The deputies who advance your initiatives without making you the bottleneck.</li>
                <li><img src="/images/check.svg" alt="Check mark icon">The capabilities and experiences that level up your team.</li>
                <li><img src="/images/check.svg" alt="Check mark icon">The rare engineering talent that creates a whole greater than the sum of its parts.</li>
            </menu>
            <p class="main__paragraph">All respecting legacy constraints of security and scale.
                Your teams incept ripples of change across the organization.</p>
        </div>
    </section>

    <section class="main__section">
        <div class="main__section-content">
            <h2 class="main__subtitle" id="section3-title">Master Chef, your ingredients are ready.
                Let's get cooking.</h2>
            <menu class="main__list" aria-labelledby="section3-title">
                <li><img src="/images/check.svg" alt="Check mark icon">Discover senior technology leaders inspired to support enterprise innovators.</li>
                <li><img src="/images/check.svg" alt="Check mark icon">Deploy teams of Atlantis engineers purpose-built for your project of consequence.</li>
                <li><img src="/images/check.svg" alt="Check mark icon">Together, we'll leverage their relevant experiences and honed skills, to solve and prevent problems and accelerate your deliverables.</li>
            </menu>
        </div>
        <div class="main__image">
            <img src="./images/section3.svg" alt="Illustration of a cooking metaphor for teamwork and solutions.">
        </div>
    </section>

    <section class="main__section">
        <div class="main__image">
            <img src="./images/section4.svg" alt="Illustration of a symphony representing harmony in teamwork.">
        </div>
        <div class="main__section-content">
            <h2 class="main__subtitle" id="section4-title">The symphony is playing, and your stakeholders are inspired.</h2>
            <span>With...</span>
            <menu class="main__list" aria-labelledby="section4-title">
                <li><img src="/images/check.svg" alt="Check mark icon">A catalyst of change, you have conducted something novel and a new paradigm reigns.</li>
                <li><img src="/images/check.svg" alt="Check mark icon">You've enhanced and augmented your team, in collaboration with your global talent to make everybody better.</li>
            </menu>
            <p class="main__paragraph">The sun never sets on the development cycle.
                A new era of innovation dawns.</p>
        </div>
    </section>

    <section class="main__message">
        <h2 id="message-title">Dedicated to Projects of Consequence. Especially yours.</h2>
        <a href="#" class="main__learn-button--dark" aria-labelledby="message-title">LEARN MORE</a>
    </section>

    <div class="main__image--finish">
        <img src="./images/section5.svg" alt="Final illustration marking the end of the journey and the completion of a project.">
    </div>
</main>
