@font-face {
  font-family: "PP Neue Montreal Mono Medium";
  src: url("/fonts/PPNeueMontrealMono-Book.otf");
}

@font-face {
  font-family: "AS Therma Bold Condensed";
  src: url("/fonts/ASThermaBoldCondensed.otf");
}
