@import "./about";

.duties {
  &__intro {
    &-content {
      @include flex-center(row, space-between, flex-start, 7dvw);
      width: 100%;
      @include responsive-font-size(14px, 16px);
      margin-bottom: 20px;
      margin-left: 15px;
      &-wrapper {
        @include flex-center(row, flex-start, flex-start, $gap-large);
        width: 60%;
      }
    }

    &-title {
      grid-column: 1 / span 2;
      height: min-content;
      white-space: nowrap;
    }

    &-helper {
      @include flex-center(row, flex-start, flex-start, 80px);
    }

    &-list {
      list-style: none;
    }
  }

  &__status {
    width: 40%;
    margin-right: 35px;
    @include flex-center(column, flex-star, flex-end);

    &-indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $indicator-color;
      animation: opacity 2s infinite;
      display: inline-block;
      margin: -2px 6px 0 0;
    }

    &-title {
      padding-right: 5px;
    }

    &-wrapper {
      @include flex-center(row);
    }

    &-opening {
      @include flex-center(row, flex-start, flex-start, $gap-small);
    }
  }

  &__project {
    &-neural-codex,
    &-made-machine,
    &-figures-project {
      gap: 15px;
      width: 100%;

      > img {
        width: 100%;
        border-radius: $border-radius;
        object-fit: cover;
        height: 100%;
        cursor: url("/cursor.svg"), auto;
      }

      &:hover {
        cursor: url("/cursor.svg"), auto;
      }
    }

    &-title {
      font-family: "AS Therma Bold Condensed";
      white-space: pre;
      margin-left: 14px;
      font-size: 5.3rem;
      color: rgb(37, 37, 37);
      letter-spacing: -0.06em;
      line-height: 80%;
      margin-top: 15px;
      font-size: clamp(48px, 42.2529px + 1.53257vw, 68px);
    }

    &-scope {
      margin-top: -2dvh;
      @include flex-center(row, flex-start, flex-start, $gap-small);
      padding: 10px 0 0 30px;
      @include responsive-font-size(14px, 16px);
      text-transform: uppercase;
      position: relative;
      white-space: nowrap;
      display: flex;
      align-items: center;

      &-separator {
        height: 8px;
        width: 8px;
        background-color: $color-primary;
        border-radius: 8px;
      }

      &-ticket {
        overflow: hidden;
        background-color: $scope-color;
        width: 20dvw;

        &-dot {
          font-family: sans-serif;
          font-size: 1.9rem;
        }
      }

      &-list {
        @include flex-center(row, flex-start, flex-start, 20px);
        list-style: none;
        cursor: pointer;
        animation: ticker-animation 15s linear infinite;
      }
    }

    &-info {
      @include flex-center(row, space-between);

      &-wrapper {
        @include flex-center(row, space-between);
        width: 40%;

        &-scope {
          @include flex-center(row, start);
        }
      }
    }

    &-cta {
      @include flex-center(row, flex-start, flex-start, 15px);
      background-color: $color-primary;
      color: $color-background;
      text-decoration: none;
      padding: 7px 10px;
      border-radius: 3px;
      font-size: 1.5rem;
      height: fit-content;
      margin-right: 15px;
      border: none;
      position: relative;

      &-wrapper {
        position: relative;
        overflow: hidden;
      }

      &:hover {
        background-color: $color-hover;
      }

      &:hover .duties__project-cta-icon {
        animation: moveRight 0.4s forwards;
      }

      &:hover .duties__project-cta-icon-clone {
        animation: appear 0.4s forwards;
      }

      &-icon {
        margin: auto 0;
        width: 12px;
        transition: transform 0.5s;
      }
      &-icon-clone {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: transform 0.5s, opacity 0.5s;
      }
    }

    &-neural-codex {
      @include grid-template(1.4fr 2fr 1fr);
    }

    &-made-machine {
      @include grid-template(1.9fr 1fr 1.3fr);
    }

    &-figures-project {
      @include grid-template(1fr 2fr 1.3fr);
    }
  }

  &__separator {
    height: 350px;
    user-select: none;
    width: 100%;
  }
}
